services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    mem_limit: 512m  # Limite la mémoire à 512 Mo
    volumes:
      - .:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    mem_limit: 256m  # Limite la mémoire à 256 Mo
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: symfony_db
    mem_limit: 512m  # Limite la mémoire à 512 Mo
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: voyage
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:


# Erreur sur le droit d'execution docker corrigé : tranformation de pierre en level god